<div class="transactions">

  <h1>All Transactions</h1>
  <br></br>
  <div class="grid">
    <table>
      <thead>
        <div class="grid-row grid-row-header">
          <div class="cell">Vendor Name</div>
          <div class="cell">Type</div>
          <div class="cell">Amount(£)</div>
          <div class="cell">Description</div>
          <div class="cell">Date</div>
          <div class="cell"></div>
          <div class="cell"></div>
        </div>
      </thead>
      <tbody>

          <% @transactions.each do |transaction| %>
          <div class="grid-row grid-row-body">
            <div class="cell"> <%= transaction.vendor_name %> </div>
            <div class="cell"> <%= transaction.type %> </div>
            <div class="cell"> £<%= transaction.amount %> </div>
            <div class="cell"> <%= transaction.description %> </div>
            <div class="cell"> <%= transaction.date_of_buy %> </div>
            <form method="post" action="/transactions/<%= transaction.id %>/delete">
            <div class="cell"><input class="delete" type="submit" value="Delete"/></div>
            </form>
          <div class="cell"><a href="/transactions/<%= transaction.id %>/edit"><button class="edit">Edit</button></a></div>
        </div>
    </div>
      </tbody>
        <% end %>
    </table>
  </div>
  <div class="warning">
    <p> Your total is £<%= @total %> </p>
  </div>
</div>
