
<div class="Home">
<form method="post" action="/transactions/sort_by_type">

  <label for="type_name">Enter Type:</label>
  <input type="text" name="name" id="type_name"/>

  <input type="submit" value="Search">
</form>
</div>


<div class="transactions">
  <div class="sort">
  <table>
    <thead>
      <tr>
        <th>Vendor Name</th>
        <th>Type</th>
        <th>Amount(£)</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <% @transactions.each do |transaction| %>
      <td> <%= transaction.vendor_name %> </td>
      <td> <%= transaction.type %> </td>
      <td> £<%= transaction.amount %> </td>
      <td> <%= transaction.description %> </td>
      <td> <%= transaction.date_of_buy %> </td>
    </tr>
    </tbody>
    <% end %>
  </table>
  <p> Your total is <%= @total %> .</p>
</div>
</div>
