
<div class="Home">
<form method="post" action="/transactions/sort_by_vendor">

  <label for="type_name">Enter Vendor:</label>
  <input type="text" name="name" id="type_name"
  style="text-transform:capitalize"/>

  <input type="submit" value="Search">
</form>
</div>

<div class="grid">
  <div class="transactions">
  <table>
    <thead>
      <div class="grid-row grid-row-header">
        <div class="cell">Vendor Name</div>
        <div class="cell">Type</div>
        <div class="cell">Amount(£)</div>
        <div class="cell">Description</div>
        <div class="cell">Date</div>
      </div>
    </thead>
    <tbody>

      <% @transactions.each do |transaction| %>
      <div class="grid-row grid-row-body">
        <div class="cell"> <%= transaction.vendor_name %> </div>
        <div class="cell"> <%= transaction.type %> </div>
        <div class="cell"> £<%= transaction.amount %> </div>
        <div class="cell"> <%= transaction.description %> </div>
        <div class="cell"> <%= transaction.date_of_buy %> </div>
      </div>
    </tr>
    </tbody>
    <% end %>
  </table>
  <div class="warning">
  <p> Your total is: <%= @total %> </p>
</div>
</div>
</div>
